@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */


/* Start purging... */
@tailwind utilities;
/* Stop purging. */
/*
 #EFE2D7
#F5F5F9
F6F6F6
*/
/* Your own custom utilities */
body{
    height: 100%; margin: 0;
    background:#F6F6F6;
 font-family: 'restoraextralight-1';
font-size: larger;}
#__next{
    height: 100vh;
    min-height: 100vh

}




.container{
    height: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: 0.08fr 0.1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.8fr 1fr 1fr;
  gap: 0px 0px;
    height: 100%;
  grid-template-areas:
          "Sidebar Navbar Navbar Navbar"
          "Sidebar Content-Bar Content-Bar Content-Bar"
          "Sidebar Content-Bar Content-Bar Content-Bar";
}
.Sidebar { grid-area: Sidebar;

}
.Navbar { grid-area: Navbar;

     font-family:'Jenriv Regular';
    font-weight: bold;
    font-weight:normal;
}
.Content-Bar { grid-area: Content-Bar; }

.HomeClass
{
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr ;

    overflow: auto;

}
.Picture{
    grid-column: 1/2;

    max-width: 100%;
    overflow: auto;
}
.AboutMe{ grid-column: 3/4;

    font-size: 2em;
    font-weight: 400;
    max-width: 100%;
    overflow: auto;
}

.sectiontag{
    background: #080808;
    color: azure;

}

.nametag{
    font-stretch: expanded;
    font-size: 60px;
}
.nametag2{
    font-stretch: expanded;
    font-size: 60px;
}
.cardproject{
    font-size: 18px;
      font-family:'Jenriv Regular';
    background: #efefef;


}
.contacttag
{
    background: #403E40;
    color: azure;
    font-size: 40px;

}
.projectshead{
    background: #403E40;
    color: azure;
}
.navbars>li:hover{
    background:#403E40;
    color: azure;

}

.pts:hover {
    transform: scale(1.1);
    transition: all 1.3s;

}
.contax{
    color: #294868;
}
.pts{
   background:  #e2e8f0;
}
.aboutsection {
    text-justify: distribute;
    text-align-last: left;

}